---
- name: 在 ceiling 上拉取 GitHub 仓库代码
  hosts: pilot, A05
  become: yes  # 如果需要以 root 权限执行，否则可以去掉
  tasks:
    - name: 克隆 GitHub 仓库
      git:
        repo: 'https://github.com/Agata872/Techtile_Channel_Measurement.git'
        dest: /home/pi/Techtile_Channel_Measurement
        version: master  # 或者你需要的分支/标签/commit
        force: yes     # 如果需要强制更新代码
